h1 {
    font-size: 100px;
    font-family: 'Open Sans', sans-serif;
    color: #66FCF1;
    text-align: center;
    margin-top: 20px;
}

p {
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    color: #C5C6C7;
    text-align: center;
    margin-top: 20px;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: #0B0610;
}

.center-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.social-links {
    display: flex;
    justify-content: center;
    margin-top: 30px; /* Increased margin for better spacing */
}

.social-button {
    margin: 0 15px; /* Increased margin for better spacing */
    font-size: 50px; /* Increased font size for larger icons */
    color: #C5C6C7;
    text-decoration: none;
    transition: color 0.3s ease;
}

.social-button:hover {
    color: #66FCF1;
}